* {
	transition: all 0.2s ease-out;
}

body {
	margin: 0px;
	background: white;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #292929;
}

Adiv { outline: 1px solid black; }

p {
	font-weight: 100;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: white;
}

button {
	height: 46px;
	border: 2px solid white;
	border-radius: 25px;
	background: none;
	color: white;
	width: 155px;
	margin: 0 10px;
}

button:hover {
	background-color: rgba(255,255,255,0.2);
}

#content {
  width: 100%;
	margin: 0 auto;
}

.innercontent {
  width: 1070px;
  margin: 0 auto;
}


#splash {
  background-color: black;
	color: white;
	background-image: url('../img/triplestart.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

	#splash #header {
		padding-top: 25px;
	}

	#splash #header img { width: 150px }

	#splash #header #header-right {
	  font-size: 16px;
	  margin-top: 20px;
	  float: right;
	}

	#splash #maintitle {
		font-size: 52px;
		padding-top: 15%;
		margin: 0 auto;
		text-align: center;
	}

	#splash #sign-up-top {
		padding: 100px 170px;
		text-align: center;
		font-size: 24px;
	}

	.sign-up-form {

	}

	.email-input-holder {
		width: 540px;
		height: 70px;
		margin-top: 6px;
		border-radius: 4px;
		border: 0;
		background-color: white;
		display: inline-block;
	}

	.sign-up-form input[type=email] {
		color: black;
		font-size: 20px;
		font-weight: 100;
		outline: none;
		height: 65px;
		border: 0;
		width: 500px;
	}

	.sign-up-form input[type=submit] {
		background-color: #F8E71C;
		width: 160px;
		height: 70px;
		border-radius: 4px;
		border: 0;
		color: #4D91AE;
		font-size: 20px;
		cursor: pointer;
		-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
	}

	.sign-up-form input[type=submit]:hover {
		background-color: #EEDD1C;
	}

	a.button {
		background-color: #F8E71C;
		width: 160px;
		height: 70px;
		border-radius: 4px;
		border: 0;
		color: #4D91AE;
		font-size: 20px;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance:    none;
		appearance:         none;
		padding: 25px;
	}

	a.button:hover {
		background-color: #EEDD1C;
		text-decoration: none;
	}

	.sign-up-guide {
		margin-top: 14px;
		font-size: 20px;
		font-weight: 300;
		text-align: center;
	}

	.sign-up-form input[type=checkbox] {
		/* Double-sized Checkboxes */
 	-ms-transform: scale(1); /* IE */
  	-moz-transform: scale(1); /* FF */
 	-webkit-transform: scale(1); /* Safari and Chrome */
 	-o-transform: scale(1); /* Opera */
 	padding: 10px;
	margin: 10px;
	margin-left: 4px;
	}

#example-tours {
	margin-bottom: 20px;
}

#example-tours img {
	width: 100%;
}

#how-it-works {
  background-color: #F8E71C;
}
	.headline {
		padding-top: 50px;
		font-size: 32px;
		color: #4D91AE;
		text-align: center;
		font-weight: 100;
	}

	.box {
	  width: 33%;
	  height: auto;
	  display: inline-block;
	  font-size: 16px;
	  line-height: 28px;
	  text-align: center;
	}

	.box img {
		max-width: 200px;
		max-height: 200px;
	}

	.box p {
		padding: 45px;
	}

#anyone-can-be-a-guide {
  	background-color: white;
	text-align: center;
	font-size: 16px;
	line-height: 28px;
}
	#anyone-can-be-a-guide .headline, #example-tours .headline {
		color: #333;
		margin-top: 20px;
		font-weight: 200;
		margin-bottom: 20px;
	}

	#anyone-can-be-a-guide .box2 {
		width: 485px;
		margin-top: 20px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;
	}

	#anyone-can-be-a-guide .box2 .headline {
		font-size: 24px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	#anyone-can-be-a-guide .box2 img {
		width: 100%;
	}

hr {
	margin: 60px 0;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid lightgrey;
	margin: 1em 0;
	padding: 0;
}


#let-me-know {
	margin-bottom: 120px;
	margin-top: 120px;
}

	#let-me-know #sign-up-bottom {
		text-align: center;
		font-size: 24px;
		color: #333;
		padding: 0 170px 0 170px;
	}

	#let-me-know #sign-up-bottom .email-input-holder {
		border: 1px solid lightgrey;
	}

	#let-me-know #sign-up-bottom input[type=submit] {
		border: 1px solid lightgrey;
	}

#footer {
	border-top: 1px solid lightgrey;
	height: 125px;
	padding: 50px;
	font-size: 16px;
	text-align: center;
	color: grey;
}

#footer a {
	color: grey;
	text-decoration: none;
}
